.owner_container {
    justify-self: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.5em;
    img {
        max-width: 200px;
        border-radius: 10px;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
    &_block {
        margin: 1em 0;
        text-align: start;
        &_author {
            font-size: 18px;
            font-weight: bold;
        }
        &.center{
            padding: 1em 0;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
        }
    }
}