.card {
  padding: 1em;
  margin: 0.5em 0;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    img {
      border-radius: 100%;
      position: absolute;
    top: -25px;
    }
    .card-content {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 6px;
      min-height: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      padding-top: 30px;
      border: 1px solid transparent;
      width: 13em;
      &:hover{  
        box-shadow: none;
        border: 1px solid gray;
      }
      &-author {
        font-size: 14px;
        color: gray;
      }
    }
  }
}
