table {
    width: 100%;
    tbody {
        .primary{
            color: blue;
        }
        .secundary {
            text-align: center;
        }
        tr:nth-child(even) {
            background-color: #eee;
          }
    }
}